._backup/

.config/fish/extend
.config/fish/functions/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fisher/

.config/git/config.local
.config/hub

.config/direnv/allow/
.config/anyenv/
.config/composer/vendor/

.spacemacs.d/.spacemacs.env
.spacemacs.d/lsp-cache/
